
header {
    background: url("/src/images/header-img/abstract-background-with-red-lines\ 1\ \(3\).png")  no-repeat center;
    height: 216px;
}

// a:visited {
//     color: $primary-bg-color;
// }
.header_link:visited {
        color: $primary-bg-color;
    }

.container__header { 
    display: grid;
    height: 136px;
}
.nav_icon {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 35px;
        display: flex;
        align-items: center;
        text-align: center;
    
        color: #FFFFFF;
}

.nav_link {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
    
        color: #FFFFFF;
}

.nav_style {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
}

input {
    // position: absolute;
        width: 394px;
        height: 20px;
        left: 443px;
        top: 116px;

        background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            color: #fff;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            outline: none;
            display: flex;
                align-items: center;
}
.header_link-home {
    margin-right: 39px;
}