.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: 250ms;
    z-index: 100;
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  //   ______ modal-window ______
  .modal {
    position: relative;
    padding: 44px 20px;
    background: $header-main-color;
    width: 100%;
    border-radius: 2px;
    height: 96vh;
    overflow: auto;
  
    &__backcall {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    &__img {
      margin-bottom: 20px;
      max-width: 280;
      border-radius: 6px;
  
      width: 100%;
      object-fit: cover;
      object-position: top;
    }
  
    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.1em;
      margin-bottom: 20;
    }
  
    &__dicr {
      display: flex;
      justify-content: start;
      max-width: 400px;
      margin-bottom: 20px;
    }
  
    &__list1 {
      white-space: nowrap;
      margin-right: 39px;
    }
  
    &__list-item {
      font-weight: 500;
      color: $desc-color;
      margin-bottom: 8px;
    }
  
    &__item {
      font-weight: 500;
      margin-bottom: 8px;
    }
  
    &__vote1 {
      color: $primary-bg-color;
      background-color: #ff6b01;
      padding: 1px 10px;
      border-radius: 5px;
    }
  
    &__vote2 {
      color: #000;
      background-color: $accent-color;
      padding: 1px 10px;
      border-radius: 5px;
    }
  
    &__article {
      margin-bottom: 20px;
    }
  
    &__subtitle {
      font-weight: 500;
      margin-bottom: 8px;
    }
  
    &__text {
      font-weight: 500;
      line-height: 20px;
    }
  
    &__btn-box {
      display: flex;
      justify-content: center;
    }
  
    &__button-org {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      border: 1px solid $primary-bg-color;
  
      margin-right: 20px;
      padding: 13px 10px;
      cursor: pointer;
  
      background-color: $accent-color;
      border-color: $accent-color;
      color: $primary-bg-color;
      background-image: -webkit-linear-gradient(45deg, #fff 50%, transparent 50%);
      background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
      background-position: 100%;
      background-size: 400%;
      -webkit-transition:background  300ms ease-in-out;
      transition:background  300ms ease-in-out;
  
      &:hover {
        color: $accent-color;
        background-position: 0;
      }
    }
  
    &__button-trans {
      font-family: inherit;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 5px;
      border: 1px solid $primary-bg-color;
  
      background-color: transparent;
      cursor: pointer;
      border-radius: 5px;
      padding: 13px 13px;
  
      outline: 1px solid;
      outline-color: rgba(0, 0, 0, 0.5);
      outline-offset: -1px;
      transition: all 300ms cubic-bezier(0.2, 0, 0, 0.8);
  
      &:hover {
        color: rgba(0, 0, 0, 0.7);
        outline-color: rgba(71, 126, 232, 0);
        outline-offset: 5px;
      }
    }
  }
  
  //   ______ close-cross ______
  .close {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 14px;
    height: 14px;
    cursor: pointer;
  
    &__leftright {
      height: 2px;
      width: 19px;
      position: absolute;
      background-color: $primary-text-color;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
    }
  
    &__rightleft {
      height: 2px;
      width: 19px;
      position: absolute;
      background-color: $primary-text-color;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
    }
  
    &:hover .close__leftright {
      transform: rotate(-45deg);
      background-color: $accent-color;
    }
  
    &:hover .close__rightleft {
      transform: rotate(45deg);
      background-color: $accent-color;
    }
  }
  
  //   ______ tablet ______
  @media (min-width: 768px) {
    .modal {
      padding: 40px 36px;
      height: 100%;
  
      &__backcall {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
  
      &__img {
        width: 265px;
        height: 374px;
        margin-right: 68px;
      }
    }
  }
  
  //   ______ desktop ______
  @media (min-width: 1024px) {
    .modal {
      padding: 40px 20px;
      height: 100%;
      max-width: 800px;
  
      &__backcall {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
  
        // !
      }
      &__text-content {
        width: 50%;
      }
      &__img {
        margin-right: 16px;
      }
      &__title {
        font-size: 30px;
      }
  
      &__btn-box {
        display: flex;
        justify-content: flex-start;
      }
    }
  }