$primary-text-color: #000000;
$footer-text-color: #545454;
$accent-color: #ff6b08;
$desc-color: #8c8c8c;
$primary-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
$header-main-color: rgba(0, 0, 0, 0.56);
$error-color: #ff001b;

$transition: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
