<header>
    <div class="container">
        <nav class="nav_style">
            <div class="nav_icon">
                <svg class="icon" width="24" height="24">
                    <use href="/src/images/header_svg/symbol-defs.svg#film-1"></use>
                </svg>
                <a class="header_link" href=""> Filmoteka </a>
            </div>
            <div class="nav_link">
                <a class="header_link" href="">HOME</a>
                <a class="header_link" href="">MY LIBRARY</a>
            </div>
        </nav>
        <input type="text" id="" placeholder="Movie search" />
    </div>
</header>