<header>
    <div class="container container__header">
        <nav class="nav_style">
            <div class="nav_icon">
                <svg class="icon" width="24" height="24">
                    <use href="/src/images/header_svg/symbol-defs.svg#film-1"></use>
                </svg>
                <a class="header_link" href="/src/index.html"> Filmoteka </a>
            </div>
            <div class="nav_link">
                <a class="header_link header_link-home current" href="/src/index.html">HOME</a>
                <a class="header_link" href="/src/index-library.html">MY LIBRARY</a>
            </div>
        </nav>
        <form class="search-form">
            <input type="text" name="input" placeholder="Movie search" />
            <button tupe="submit">search</button>

        </form>
        <p class="empty">Sorry, I can't find "anything"</p>
        <p class="not-found">Search result not successful. Enter the correct movie name and</p>
    </div>
</header>